.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}

.track-index-number {
    opacity: 0.7;
    transition: opacity 0.2s;
}

.track-row:hover .track-index-play-icon {
    opacity: 1;
}

.track-row:hover .track-index-number {
    opacity: 0;
}